{% extends "chatapp/base.html" %}
{% block content %}

    <div class="container" >
        <div class="row">
            <div class="col-md-12 min-vh-100 d-flex flex-column justify-content-center">
                <div class="row">
                    <div class="col-9 col-lg-4 mx-auto">
    
                        <!-- form card login -->
                        <div class="card rounded shadow shadow-sm" style="background-color: #145583;z-index: 1;">
                            <div class="card-header row">
                                <h3 class="mb-0 mx-0 text-white p-0" style="width: 30%;display: inline-block;margin:0">CodeR</h3>
                                <div class="col-8  d-flex justify-content-end text-right p-0" style="margin-right:1%">  
                                    <span style="color:white" class="mx-0">{{request.user.username}} <a href="/logout/" style="text-decoration: none;color:#0F0F0E;display: inline-block;">Logout</a> </span>
                                </div>
                            </div>
                            <div class="card-body">
                                <form class="form" role="form" autocomplete="off" action = "{% url 'chatapp:join' %}" method="POST">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        
                                        <input type="text" class="form-control form-control-sm rounded-1" name="room_id"  placeholder="ROOM ID">
                                        
                                    </div>
                                    <div class="form-group mt-2">
                                        
                                        <input type="text" class="form-control form-control-sm rounded-1"  name="username"  placeholder="USERNAME" >
                                       
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-success btn-sm float-center mt-2" style="width: 50px;color:rgb(14, 242, 14)"   >Join</button>
                                    </div>
                                </form>
                            </div>
                            <div style="width: 100%; height: 20px; border-bottom: 1px solid black; text-align: center;padding-top:4px;">
                                <span style="font-size: 20px; background-color: #F3F5F6;">
                                  OR
                                </span>
                              </div>
                            <div class="card-body">
                                <form class="form" role="form" autocomplete="off" action = "{% url 'chatapp:create_new' %}" method="POST">
                                    {% csrf_token %}
                                    <div class="form-group mt-2">
                                        
                                        <input type="text" class="form-control form-control-sm rounded-1"  name="username" placeholder="USERNAME">
                                       
                                    </div>
                                    <div class="form-group mt-2">
                                        
                                        <select name="lang" class="form-select form-control form-control-sm rounded-1 p-1" placeholder="Choose a language">
                                            <option selected value="">Choose a language</option>
                                            <option value="C++">C++</option>
                                            <option value="Java">Java</option>
                                            <option value="Python">Python</option>
                                            <option value="Javascript">Javascript</option>
                                          </select>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-success btn-sm float-center mt-2"  style="text-decoration:none ;color:rgb(14, 242, 14)" >Create Room</button>
                                    </div>
                                </form>
                            </div>
                            <!--/card-block-->
                        </div>
                        <!-- /form card login -->
    
                    </div>
    
    
                </div>
                <!--/row-->
    
            </div>
            <!--/col-->
        </div>
        <!--/row-->
    </div>
    <!--/container-->

<script>
    $("#btnLogin").click(function(event) {

        //Fetch form to apply custom Bootstrap validation
        var form = $("#formLogin")
    
        if (form[0].checkValidity() === false) {
          event.preventDefault()
          event.stopPropagation()
        }
        
        form.addClass('was-validated');
      });
    
</script>
{% endblock %}
