{% extends "chatapp/base.html" %}
{% block content %}

    <div class="container" >
        <div class="row">
            <div class="col-md-12 min-vh-100 d-flex flex-column justify-content-center">
                <div class="row">
                    <div class="col-9 col-lg-3  mx-auto">
    
                        <!-- form card login -->
                        <div class="card rounded shadow shadow-sm" style="background-color: #145583;z-index: 1;">
                            <div class="card-header">
                                <h3 class="mb-0 text-white">Login</h3>
                            </div>
                            <div class="card-body">
                                <form class="form" role="form" autocomplete="off" action = "{% url 'chatapp:login' %}" method="POST">
                                    {% csrf_token %}
                                    
                                    <div class="form-group mt-2">
                                        
                                        <input type="text" class="form-control form-control-sm rounded-1"  name="username"  placeholder="Username" >
                                       
                                    </div>
                                    <div class="form-group mt-2">
                                        
                                        <input type="password" class="form-control form-control-sm rounded-1"  name="password"  placeholder="Password" >
                                       
                                    </div>
                                    <div class="row">
                                        <div class="col-2" style="margin-left: 37%;">
                                            <button type="submit" class="btn btn-success btn-sm float-center mt-2 text-center" style="width: 60px;color:rgb(14, 242, 14)"   >Login</button>
                                        </div>
                                        <div class="col-3 offset-2 px-0 py-2 text-end">
                                            <a href="{% url 'chatapp:register' %}" style="width: 50px;color:rgb(14, 242, 14);margin-left:-2%;text-decoration:none;" class="text-right">Register</a>
                                        </div>
                                    </div>
                                    
                                    </form>
                            </div>
                            
                            
                            <!--/card-block-->
                        </div>
                        <!-- /form card login -->
    
                    </div>
    
    
                </div>
                <!--/row-->
    
            </div>
            <!--/col-->
        </div>
        <!--/row-->
    </div>
    <!--/container-->

<script>
    $("#btnLogin").click(function(event) {

        //Fetch form to apply custom Bootstrap validation
        var form = $("#formLogin")
    
        if (form[0].checkValidity() === false) {
          event.preventDefault()
          event.stopPropagation()
        }
        
        form.addClass('was-validated');
      });
    
</script>
{% endblock %}
